.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  margin-bottom: 42px;
}

.bio {
  position: absolute;
  top: 24px;
  right: 24px;
  text-decoration: underline;
  color: #163af5;
  font-size: 24px;

  &:hover {
    color: white;
    cursor: pointer;
  }
}
