.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    margin-top: 24px;
  }

  &__title {
    margin-bottom: 36px;
  }
}

.home {
  text-decoration: underline;
  color: #163af5;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.webButton {
  margin-top: 24px;
}
